


@import 'globals/mixins';



html, body {
	font-family: Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
}

h1 {
	color: pink;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-size: 72px;	
	
	@include seamlessTextShadow(crimson, true, 5);
}

// @keyframe

.inner {
	@include boxSizing;
	padding: 20px 30px;
	max-width: 1250px;
	width: 100%;
	margin: 0 auto;
	
	a {
		color: #000;
	}

	h1 {
		margin: 0;
	}
}

.line {
	display: block;
	height: 1px;
	background-color: #ddd; 
	margin: 20px 0;
}

code {
	@include boxSizing;
	display: block; 
	padding: 10px;
	color: #fff;
	background-color: #333;
}