
html, 
body {
	font-family: Helvetica, Arial, sans-serif;	
}

.container {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 20px;
	width: 1250px;
	margin: 0 auto;
}

div {
  margin-bottom: 10px;
}