
:root {
	--bgColr: #f1f1f1;
	--scoreBg: #AAA;
	--scoreColr: #fff;
	--titleColr: #333;
	--green: #6BF178;
	--greenActive: #1dea31;
	--red: #FF5964;
	--redActive: #ff0415;
	--blue: #30BCED;
	--blueActive: #108db8;
	--yellow: #FFE74C;
	--yellowActive: #f6d500;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: var(--bgColr);
	margin: 0;
	padding: 0;
}

.simonWrap {
	text-align: center;
	position: relative;
	height: 100vh;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-justify-content: center;
	        justify-content: center;
}

.simonTitle {
	color: var(--titleColr);
}

.simonStart {
	background-color: #333;
	color: #fff;
	display: inline-block;
	padding: 10px 20px;
	text-transform: uppercase;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	        box-shadow: 0 0 10px rgba(0,0,0,0.6);
	letter-spacing: 0.1em;
	font-size: 18px;
	font-family: 'Press Start 2P';
	top: 50%;
	cursor: pointer;
	border-radius: 5px;
	position: absolute;
	-webkit-transition: .3s ease-in-out;
	   -moz-transition: .3s ease-in-out;
	    -ms-transition: .3s ease-in-out;
	     -o-transition: .3s ease-in-out;
	        transition: .3s ease-in-out;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.simonStart:hover {
	background-color: #444;
}

.simonScore {
	position: absolute;
	background-color: var(--scoreBg);
	color: var(--scoreColr);
	font-family: 'Press Start 2P';
	box-sizing: border-box;
	padding: 10px;
	top: 0;
	left: 0;
}

.simonCircle {
	border: 10px solid #333;
	margin: 0 auto;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	/*width: 500px;*/
	/*height: 500px;*/
	width: 75vh;
	height: 75vh;
	overflow: hidden;
}

.simonQuarter {
	display: block;
	/*height: 250px;*/
	/*width: 250px;*/
	height: 50%;
	width: 50%;
	background-color: red;
	cursor: pointer;
}

.simonQuarter--green {
	background-color: var(--green);
}

	.simonQuarter--green.j-active {
		background-color: var(--greenActive);
	}

.simonQuarter--red {
	background-color: var(--red);
}

	.simonQuarter--red.j-active {
		background-color: var(--redActive);
	}

.simonQuarter--blue {
	background-color: var(--blue);
}

	.simonQuarter--blue.j-active {
		background-color: var(--blueActive);
	}


.simonQuarter--yellow {
	background-color: var(--yellow);
}

	.simonQuarter--yellow.j-active {
		background-color: var(--yellowActive);
	}


















